.main-container {
  background-color: #282C34;
  display: flex;
  flex-direction: column;
  font-family: "Courier";
  color: black;
  min-height: 100vh;
}

.headshot {
  /* animation: App-logo-spin infinite 0.4s linear; */
  height: 15em;
  border-radius: 100%;
  border: 2.5px solid #FFFFFF;
}

.page-header {
  margin-top: 5%;
  text-align: center;
}

.links-section {
  margin-top: 3%;
}

.weblink {
  color: #61dafb;
}

.contact-icon {
  margin-left: 0.6em;
  margin-right: 0.6em;
  height: 2.5em;
  width: 2.5em;
  justify-content: center;
}

.contact-icon:hover {
  margin-bottom: -0.2%;
  opacity: 0.65;
}

.contact-icon-group {
  margin-top: 1.5%;
  text-align: center;
  justify-content: center;
}

.persona {
  margin: auto; /* to center paper on page */
  margin-top: 5%;
  width: 75%;
  background-color: white;
  border-radius: 1%;
  border-right: 6.5px solid gray; /* TODO: find a better darkgray */
}

.persona-section {
  margin: 4%;
  text-align: left;
}

.footer {
  text-align: center
}

.hyperlink {
  color: #0239A7;
  font-weight: bold;
  text-decoration: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
